body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: red;
    width: 400px;
    border-radius: 15px;
}

#display {
    width: calc(400px - 6px);
    color: white;
    background-color: rgb(88, 80, 80);
    font-size: 3rem;
    border: 3px solid black;
    padding: 20px;
}

#inputs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #0a0601;
    gap: 20px;
    width: 400px;
    padding: 20px;
}

button {
    padding: 10px;
    font-size: 3rem;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #363535;
    color: white;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #131212;
    transition: 0.3s ease-in;
}

.operator {
    background-color: #ff9a00;
    color: black;
}

.operator:hover {
    background-color: #664617;
    color: white;
}

#equals {
    background-color: #ff1232;
    color: white;
}

#del{
    background-color: #643005;
    color: white;
    font-size: 2rem;
}